.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /* first column with fixed width of 256px and second column adapt to the space available in screem */
    gap: 2rem;
    align-items: flex-start; /* force to columns get align by the top of the page */
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}